{#
   * Created by PhpStorm.
   * User: Nemzag aka Gazmen Arifi (Shkypi, 1979-09-30).
   * Date: 2018-12-10
   * Time: 14:45
#}

{% extends 'default.html.twig' %}

{% block title %}Liste des produits du catalogue en ligne{% endblock %}

{% block main %}

    <section>

        <br>

        <h1 style="text-align: justify;">Liste des produits du catalogue en ligne :</h1> {#  Pour boucler on utilise du TWIG. #}

        <hr class="my-4">

        {% for message in app.flashes('product_success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('product_danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}

                <a href="{{ path('product_new') }}" class="btn btn-success col text-white text-left" role="button"> <i class="far fa-plus-square"></i><b> Ajouter un nouweau produit</b></a>

            <br><br>

        {% endif %}

        <table class="table table-hover table-bordered" style="width: 100%;margin-left: auto; margin-right: auto;">
            <thead class="thead-light">
            <tr>

                <th scope="col">Image :</th>

                <th scope="col">Categorie :</th>

                <th scope="col">Nom :</th>

                {#<th class="product-description" scope="col">Description :</th>#}
                <th scope="col">Prix :<br>(TVAC)</th>

                <th scope="col">Notation :</th>

                <th scope="col">Ajout dans le<br>catalogue :</th>

                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}

                <th>Modi‑fica‑tion's :</th>

                <th>Id :</th>

                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ path('product_show', {'id': product.id}) }}"><img src="{{ asset('img/products/') ~ product.image }}" alt="{{ product.name }}"></a>
                    </td>

                    <td class="product-category" style="text-align: right;">{{ product.category.categories }} </td>

                    <td class="product-name" scope="row">
                        <a href="{{ path('product_show', {'id': product.id}) }}">{# SI ADMINISTRATOR L'ICONE VOIR APPARAIT #}{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}<i class="far fa-eye"></i><strong> {{ product.name }}</strong>{% else %}<strong>{{ product.name }}</strong>{% endif %}</a>
                    </td>


                    {#<td class="product-description">{{ product.description }}</td>#}

                    <td class="product-price">{% if product.promotion > 0 %}
                            {{ (product.price - (product.price * product.promotion / 100)) | number_format(2, ",", " ") }}&euro;<br><del style="color:red;"> {{ product.price | number_format(2, ",", " ") }}&euro;</del><br><span style="color: blue;">−{{ product.promotion }}%</span>{% else %}
                            {{ product.price | number_format(2, ",", " ") }}&euro; {% endif %}</td>

                    <td class="product-notation" scope="row" style="white-space: nowrap;">

                        <!--
                          5 text-primary (blue)
                          4 text-success (green)
                          3 text-secondary (gray)
                          2 text-warning (yellow)
                          1 text-danger (red)
                          0 text-dark (black)
                          -->

                        <!-- Si 5 points -->
                        {% if notations == 5 %}
                            <span title="5 points"><i class="text-primary fas fa-star"></i><i class="text-primary fas fa-star"></i><i class="text-primary fas fa-star"></i><i class="text-primary fas fa-star"></i><i class="text-primary fas fa-star"></i> </span>
                        {% endif %}

                        <!-- Si 4 points -->
                        {% if notations == 4 %}
                            <span title="4 points"><i class="text-info fas fa-star"></i><i class="text-info fas fa-star"></i><i class="text-info fas fa-star"></i><i class="text-info fas fa-star"></i><i class="text-info far fa-star"></i></span>
                        {% endif %}

                        <!-- Si 3 points -->
                        {% if notations == 3 %}
                            <span title="3 points"><i class="text-success fas fa-star"></i><i class="text-success fas fa-star"></i><i class="text-success fas fa-star"></i><i class="text-success far fa-star"></i><i class="text-success far fa-star"></i></span>
                        {% endif %}

                        <!-- Si 2 points -->
                        {% if notations == 2 %}
                            <span title="2 points"><i class="text-warning fas fa-star"></i><i class="text-warning fas fa-star"></i><i class="text-warning far fa-star"></i><i class="text-warning far fa-star"></i><i class="text-warning far fa-star"></i></span>
                        {% endif %}

                        <!-- Si 1 points -->
                        {% if notations == 1 %}
                            <span title="1 points"><i class="text-danger fas fa-star"></i><i class="text-danger far fa-star"></i><i class="text-danger far fa-star"></i><i class="text-danger far fa-star"></i><i class="text-danger far fa-star"></i></span>
                        {% endif %}

                        <!-- Si 0 points -->
                        {% if notations == 0 %}
                            <span title="0 points"><i class="text-dark far fa-star"></i><i class="text-dark far fa-star"></i><i class="text-dark far fa-star"></i><i class="text-dark far fa-star"></i><i class="text-dark far fa-star"></i></span>
                        {% endif %}
                    </td>

                    <td>{{ product.dateAdded ? product.dateAdded|date('Y-m-d H:i:s') : '' }}</td>

                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}

                        <td style="width: auto; text-align: justify;">
                            <a href="{{ path('product_edit', {'id': product.id}) }}"><i class="fas fa-edit"></i> Éditer</a></td>

                        <td>{{ product.id }}</td>

                    {% endif %}
                </tr>

            {% else %}
                <tr>
                    <td colspan="9">²</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </section>

{% endblock %}
