{#
 * Created by PhpStorm.
 * User: Nemzag aka Gazmen Arifi (Shkypi, 1979-09-30).
 * Date: 2018-12-03
 * Time: 12:32
#}

{% extends 'default.html.twig' %}

{% block title %}Éditer un utilisateur{% endblock %}

    {% block main %}

        <section>

            <br>

            <h1>Éditer un utilisateur</h1>

            <hr class="my-4">

            {% for message in app.flashes('user_success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('user_danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            <a href="{{ path('comment_index') }}" class="btn btn-primary col-sm text-left text-white"><i class="far fa-eye"></i><b> Re‑venir à la liste des commentaires</b></a>
            <br><br>

            {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour / Modi‑fier'}) }}

            <br>

            {{ include('user/_delete_form.html.twig') }}

            <br>

        </section>

    {% endblock main %}


